<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-12 ml-auto">
        <p class="lead text-justify ">
          Currently developed a Largest Secondary Sales Automation For Transcom
          Beverages Ltd (Pepsico) in Bangladesh. On developing time I user in
          various languages such as ASP.NET MVC, C#, SQL Server 2016, JQuery,
          Ajax etc. During that time, I have spent thousands of hours doing
          everything related to the software development, including analysis,
          database design, coding, testing, supporting etc. I ensure that the
          quality of our software is meets our high software standards.
        </p>
      </div>
    </div>

    <!-- About Section Button -->
  </div>
</section>
