<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading -->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Portfolio
    </h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <app-portfolio-item
          ItemTitle="Secondary Sales Automation"
          ImageLink="assets/img/portfolio/durbin.png"
        ></app-portfolio-item>
      </div>
      <div class="col-md-6 col-lg-4">
        <app-portfolio-item
          ItemTitle="Imventory Management System"
          ImageLink="assets/img/portfolio/game.png"
        ></app-portfolio-item>
      </div>
      <div class="col-md-6 col-lg-4">
        <app-portfolio-item
          ItemTitle="School Management System"
          ImageLink="assets/img/portfolio/cabin.png"
        ></app-portfolio-item>
      </div>
    </div>

    <!-- /.row -->
  </div>
</section>
